@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// VARIABLES

:root {
    --ms-header-height: 100px;
    --ms-footer-height: 80px;
    --card-height: 300px
}

////////////

body {
    background-color: #232323;
}

input:focus::placeholder {
    color: transparent;
}

header {
    .logo {
        width: 65px;
    }
}

main{
    height: calc((100vh - var(--ms-header-height)) - var(--ms-footer-height));
    background-image: url("/resources/images/jumbotron.jpg");
    background-size: cover;
    overflow-y: auto;
}

#ms-header {
    height: var(--ms-header-height);
}

.list-title {
    display: inline-block;
    color: white;
    background-color: #0c7cec;
    margin: 5px 0;
    padding: 5px 15px;
}

#ms-footer {
    height: var(--ms-footer-height);
    padding: 8px 20px;
}

#search-bar {
    margin-left: 25px;
    border-bottom: 1px solid #023f7b;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #F8F9FA;
    text-align: right;
}

.ms-navbar {
    height: 100%;
    padding: 8px 20px;
}

col {
    height: var(--card-height);
    width: calc(100% / 2);
}

.ms-card {
    margin: 20px 0;
    height: var(--card-height);

    img {
        border-radius: 5px;
        height: 100%;
        cursor: pointer;
    }
}

.ms-card:hover {
    border: 1px solid #0c7cec;
}

.card-body {
    padding: 0;
}

.signup-btn {
    padding: 5px 10px;
    background-color: #232323;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #0c7cec;
}

.signup-btn:hover {
    background-color: white;
    color: #0c7cec;
    border: 1px solid #023f7b;
}

.ul-follow-us {
    padding: 0;
    margin: 0;
}

.ul-follow-us > li {
    margin-right: 50px;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
}

.follow-icons {
    color: #a3a3a3;
}